* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Akaya Telivigala", cursive;
  font-family: "Bebas Neue", cursive;
  display: flex;
  background: #e2dfdf;
}

.form {
  width: 1600px;
  height: 80px;
  background: rgba(196, 196, 196, 0.5);
  flex-direction: column;
}

.form p {
  width: 900px;
  height: 59px;
  font-family: Yaldevi Colombo SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  color: #000000;
  margin-left: 550px;
  margin-top: 22px;
}

.basket {
  width: 50px;
  height: 50px;
  mix-blend-mode: darken;
  margin-left: 1215px;
  margin-top: -67px;
}

.photo {
  width: 400px;
  height: 400px;
  border-radius: 195px;
  margin-left: 15px;
  margin-top: -800px;
}

.picture {
  width: 1600px;
  height: 650px;
}

.heading {
  font-family: Yaldevi Colombo SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin-left: -500px;
}

.pepperoni {
  width: 500px;
  height: 500px;
  mix-blend-mode: darken;
}

.caesar {
  width: 500px;
  height: 500px;
}

.cheese {
  width: 500px;
  height: 500px;
  mix-blend-mode: darken;
}

.text p {
  margin-left: 150px;
  width: 1400px;
}

.square {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 200px;
}

.square1 {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 260px;
  margin-top: -50px;
}

.square2 {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 700px;
  margin-top: -50px;
}

.square3 {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 760px;
  margin-top: -50px;
}

.square4 {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 1200px;
  margin-top: -50px;
}

.square5 {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 1260px;
  margin-top: -50px;
  margin-bottom: 50px;
}
